*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

p{
	font-weight: 300;
}

/* POSITIONING GLOBALS */

.title-left{
	text-align: left;
	color: rgba(0,0,0,0.50);
}

.button-right{
	text-align: right;
	padding: 0 24px 15px 0;
}

.row{
	width: 1200px;
	margin: 0 auto;
}

a{
	color: #FFF;
	text-decoration:  none;
}


/* NAVIGATION */

.navigation{
	background: #373535;
	padding: 10px;
}
.logo{
	margin-left: 50px;
}
.links{
	float: right;
	list-style: none;
	vertical-align: middle;
	color: #fff;
	margin: 0;
	line-height: 35px;
	margin-right: 50px;
}
.links li{
	display: inline-block;
	padding-left: 25px;
}


/* HERO */

.hero {
	background: url('images/hero.png') no-repeat;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	height: 444px;
	background-size: cover;
	position: relative;
}
.hero-text {
	text-align: center;
	margin: 0;
	padding-top: 30px;
	color: #fff;
}
.hero-title{
	font-size:  60px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
h2{
	font-size: 44px;
	text-align: center;
	color: #333333;
}

.button-primary{
	padding: 0 30px 0 30px;
	height: 40px;
	text-align: center;
	color: #fff;
	background-color: #FF7E41;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 22px;
}


/* SERVICES */

h4{
	color: #00C115;
	font-size: 24px;
}
.services{
	text-align: center;
}
.services h2{
	padding:  20px;
}
.services .row{
	padding-bottom: 80px;
}
.service-box{
	display: inline-block;
	width: 384px;
	border-radius: 4px;
	background-color: #F4F4F4;
	border: 1px solid #D1D1D1;
	padding: 10px 20px 20px 20px;
	margin-right: 20px;
}
.service-box:last-child{
	margin-right: 0px;
}

.service-description{
	line-height: 28px;
}

.about{
	background: #00C115;
	color: #FFF;
	overflow: hidden;
	position: relative;
}
.about-background{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url('images/about-image.png') no-repeat;
	background-size: cover;
}
.about-text-container{
	width: 500px;
    padding: 10px 0 150px 0;
}
.about-text{
	font-weight: 400;
	font-size: 37px;
	line-height: 57px;
}
.about-image-right{
	width: 790px;
	float: right;
}


/* RESPONSIVE TABLE */

.table{
	padding: 120px 0 120px 0;
}
.responsive-table{
	width: 1200px;
	margin: 0 auto;
	border-spacing: 0;
	text-align: left;
}
.responsive-table thead{
	font-size: 20px;
	background-color: #008F10;
	color: #fff;
}
.responsive-table thead th{
	padding: 10px;
	font-weight: 400;
}
.responsive-table tbody{
	font-size: 16px;
	font-weight: 300;
}
.responsive-table td{
	padding: 10px;
}

.responsive-table tbody tr:nth-child(even){
	background-color: #F4F4F4;
}


/* CONTACT FORM */

.contact{
	background: url('images/contact-image.png') no-repeat;
	background-size: cover;
	position: relative;
	height: 550px;
}
.contact-text{
	color: #fff;
	padding-top: 50px;
	width: 590px;
}
.contact-text p{
    font-size: 19px;
    line-height: 35px;
}
.contact-container{
	width: 1200px;
	background-color: #008F10;
	margin: 50px auto 50px;
	box-shadow: 0 2px 25px 1px rgba(0,0,0,0.41);
}
.contact-form{
	display: inline-block;
	background-color: #fff;
	width: 874px;
}
h6{
	font-size: 20px;
	font-weight: 700;
	padding:  30px 0 10px 30px;
	margin: 0;
}
.contact-title{
	padding: 0 0 20px 10px;
	color: #fff;
}
.input-basic {
	width: 384px;
	height: 53px;
	padding-left: 15px;
	margin: 10px 17px 10px 30px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	outline: none;
	font-size: 18px;
	font-weight: 300;
}
textarea{
	width: 820px;
	height: 163px;
	padding: 10px;
	margin: 10px 10px 10px 30px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	outline: none;
	font-size: 20px;
	font-weight: 300;
}
.contact-info{
	display: inline-block;
	vertical-align: top;
	padding: 20px 20px 0px 20px;
	width: 300px;
}
.contact-icon{
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
}
.contact-row{
	display: table;
	position: relative;
	margin-top: 10px;
}
.contact-row p{
	padding-left: 45px;
	color: #fff;
}
.social-icon{
	padding: 20px 20px 10px 0;
}