body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


/* POSITIONING GLOBALS */

.title-left{
	text-align: left;
}

.button-right{
	text-align: right;
	padding: 0 20px 20px 0;
}

.row{
	width: 1200px;
	margin: 0 auto;
}


/* NAVIGATION */

.navigation{
	background: #373535;
	padding: 10px;
}
.logo{
	margin-left: 50px;
}
.links{
	float: right;
	list-style: none;
	vertical-align: middle;
	color: #fff;
	margin: 0;
	line-height: 35px;
	margin-right: 50px;
}
.links li{
	display: inline-block;
	padding-left: 25px;
}


/* HERO */

.hero {
	background-image: url('images/hero.png');
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	height: 444px;


	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	*
}
.hero-text {
	text-align: center;
	margin: 0;
	padding-top: 70px;
	color: #fff;
}
h1{
	font-size:  60px;
}
h2{
	font-size: 44px;
	text-align: center;
}

.button-primary{
	height: 40px;
	width: 160px;
	text-align: center;
	color: #fff;
	background-color: #FF7E41;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 18px;
}


/* SERVICES */

h4{
	color: #00C115;
	font-size: 24px;
}
.services{
	text-align: center;
}
.services .row{
	padding: 50px 0;
}

.service-box{
	display: inline-block;
	width: 32%;
	border-radius: 4px;
	background-color: #F4F4F4;
	border: 1px solid #D1D1D1;
	padding: 10px 20px 20px 20px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	box-sizing: border-box;
}
.service-description{
	line-height: 28px;
}

.about{
	background: #00C115;
	color: #FFFFFF;
	overflow: hidden;
	position: relative;
}
.about-background{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url('images/about-image.png') no-repeat;
	background-size: cover;
}
.about-text-container{
	width: 50%;
	padding:  60px 0 150px 0;
}
.about-text{
	font-weight: 700;
	font-size: 37px;
	line-height: 57px;
}
.about-image-right{
	width: 790px;
	float: right;
}


/* RESPONSIVE TABLE */

.table{
	padding: 100px 0 100px 0;
}
.responsive-table{
	width: 100%;
	margin: 0 auto;
	border-spacing: 0;
	text-align: left;
}
.responsive-table thead{
	font-size: 20px;
	background-color: #008F10;
	color: #fff;
	font-weight: 700;
}
.responsive-table thead th{
	padding: 10px;
}
.responsive-table tbody{
	font-size: 16px;
}
.responsive-table td{
	padding: 10px;
}

.responsive-table tbody tr:nth-child(even){
	background-color: #F4F4F4;
}


/* CONTACT FORM */

.contact{
	background: url('images/contact-image.png') no-repeat;
	background-size: cover;
	position: relative;
	height: 550px;
}
.contact-text{
	color: #fff;
	padding-top: 50px;
	width: 400px;
}
.contact-container{
	width: 100%;
	background-color: #008F10;
	margin: 50px auto 20px;
	box-shadow: 0 2px 25px 1px rgba(0,0,0,0.41);
}
.contact-form{
	display: inline-block;
	background-color: #fff;
	width: 700px;
}
h6{
	font-size: 16px;
	font-weight: 700;
	padding: 20px 0 0 20px;
}
.contact-title{
	padding: 0;
	color: #fff;
}
.input-basic {
	width: 290px;
	height: 20px;
	padding: 10px;
	margin: 10px 10px 10px 20px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	outline: none;
}
textarea{
	width: 636px;
	height: 140px;
	padding: 10px;
	margin: 10px 10px 10px 20px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	outline: none;
}
.contact-info{
	display: inline-block;
	vertical-align: top;
	padding: 20px 20px 0px 20px;
	width: 35%;
}
.contact-icon{
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
}
.contact-row{
	display: table;
	position: relative;
}
.contact-row p{
	padding-left: 45px;
	color: #fff;
}
.social-icon{
	padding: 20px 20px 10px 0;
}